{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Article
{% endblock %}

{% block body %}
        <h1>Article edit </h1>
    <div class="form-group">
    </div>
    <div class="form-group">
        <form method="POST">
                {% csrf_token %}
                {{ form2.as_p }}
                <button class="btn-dark" type="submit">Submit</button>
        </form>
    </div>
<!--    {%  if save == True %} {#if save is True display success message-->
<!--       <div class="alert alert-success" role="alert">-->
<!--       <strong>Swamp Castle Encyclopedia</strong>-->
<!--       Entry saved.-->
<!--       </div>-->
<!--    {% elif save == False %}-->
<!--       <div class="alert alert-danger" role="alert">-->
<!--       <strong>Swamp Castle Encyclopedia</strong>-->
<!--       Duplicate entry. Please enter another name.-->
<!--       </div>-->
<!--   {% endif %}-->

{% endblock %}