{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-3 col-md-4">
                <div class="align-content-center">
                <h4>Swamp Castle Wiki</h4>
                <img src = "{% static 'images/SwampCastle_sm.jpg' %}" alt="Swamp Castle Tech" class="img-fluid">
                <hr />
                </div>
                <div>
                    <a href="{% url 'index' %}"><h4><b>Home</b></h4></a>
                </div>
                <div>
                    <a href="{% url 'create' %}"><h4><b>Create New Page</b></h4></a>
                </div>
                <div>
                    <a href="{% url 'rando' %}"><h4><b>Random Page</b></h4></a>
                </div>
                <hr />
                {% block nav %}
                    <div class="form-group">
                    <h4>Search</h4>
                    <form action="{% url 'search' %}">
                        {% csrf_token %}
                    {{ search_form }}
                    <button class="btn-dark" type="submit">Submit</button>
                    </form>
                    </div>

                {% endblock %}
            </div>
            <div class="main col-lg-5 col-md-3">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>